$icomoon-font-path: "../fonts" !default;
$icomoon-font-family: "home" !default;

$icon-fa-code: "\e900";
$icon-fa-font: "\e901";
$icon-fa-support: "\e902";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?r8zroq');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?r8zroq#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?r8zroq') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?r8zroq') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?r8zroq##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fa-code {
  &:before {
    content: $icon-fa-code; 
  }
}
.icon-fa-font {
  &:before {
    content: $icon-fa-font; 
  }
}
.icon-fa-support {
  &:before {
    content: $icon-fa-support; 
  }
}