//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
// При использовании Gulpa
@import "fonts";
//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Roboto Slab";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1140;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
   color: #000;
   font-size: 14px;
   &.lock {
      overflow: hidden;
   }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   &.loaded {
   }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
   max-width: $mw + px;
   margin: 0 auto;
   width: 100%;
   border: 1px solid rgb(21, 235, 21);
   @media (max-width: $md1+px) {
      max-width: 970px;
   }
   @media (max-width: $md2+px) {
      max-width: 750px;
   }
   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
   &__slider {
      overflow: hidden;
   }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
// @import "popup.scss";
@import "header.scss";
// @import "footer.scss";
@import "fullscreen.scss";
@import "icon.scss";
// @import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<SERVISE>====================================================================================================
.service {
   padding: 100px 0px 65px 0px;
   @media (max-width: 700px) {
      padding: 40px 0px 5px 0px;
   }
   // .service__row
   &__row {
      // border: 1px solid red;
      display: flex;
      margin-left: -22px;
      @media (max-width: 700px) {
         display: block;
      }
   }
   // .service__column
   &__column {
      flex: 0 0 33.333%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 22px;
      margin-bottom: 30px;
      cursor: pointer;
      &:hover .icon-fa-font,
      &:hover .icon-fa-code,
      &:hover .icon-fa-support {
         color: #fff;
         @include anim(0.3s, 0s);
      }
      &:hover .service__icon {
         background-color: #c0301c;
         @include anim(0.3s, 0s);
      }

      // border: 1px solid green;
   }
   // .service__icon
   &__icon {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid #dddddd;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 0px 30px 0px;
      @include anim(0.3s, 0s);
      @media (max-width: 700px) {
         margin: 0px 0px 20px 0px;
      }
   }
   // .service__text
   &__text {
   }
}

.icon-fa-font,
.icon-fa-code,
.icon-fa-support {
   font-size: 40px;
   color: #c0301c;
   @include anim(0.3s, 0s);
}

.text-service {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   // .text-service__title
   &__title {
      flex: 1 1 auto;
      margin: 0px 0px 24px 0px;
      color: #555555;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      @media (max-width: 700px) {
         margin: 0px 0px 12px 0px;
      }
   }
   // .text-service__text
   &__text {
      text-align: center;
      color: #555555;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      // padding: 10px 0px;
   }
}

//<ABOUT>====================================================================================================

.about {
   padding: 102px 0px 100px 0px;
   background-color: #f8f8f8;
   @media (max-width: 700px) {
      padding: 40px 0px 40px 0px;
   }
}
.content-about {
   // .content-about__row
   &__row {
      display: flex;
      margin-left: -30px;
   }
   // .content-about__column
   &__column {
      flex: 0 0 50%;
      padding-left: 30px;
   }
   // .content-about__text
   &__text {
      color: #555555;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin: 0px 0px 69px 0px;
   }
}

.slider-team {
   &__container {
      overflow: hidden;
      position: relative;
      @media (max-width: 450px) {
         padding: 0px 20px;
      }
   }
   // .slider__row
   &__row {
      display: flex;
      margin-left: -26px;
      @media (max-width: $md2+px) {
         margin-left: -13px;
      }
   }
   // .slider__column
   &__column {
      flex: 0 1 25%;
      padding-left: 26px;
      @media (max-width: $md2+px) {
         padding-left: 13px;
      }
   }
   // .slider__item
   &__item {
      &:hover {
         .soc-team {
            transform: scale(1);
            @include anim(0.3s, 0s);
         }
      }
   }
   // .slider__image
   &__image {
      position: relative;
      padding: 0px 0px 94% 0px;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         position: absolute;
         top: 0;
         left: 0;
      }

      .soc-team {
         width: 100%;
         height: 100%;
         object-fit: cover;
         position: absolute;
         top: 0;
         left: 0;
         background-color: rgba(0, 0, 0, 0.5);
         display: flex;
         justify-content: center;
         align-items: flex-end;
         transform: scale(0);
         @include anim(0.3s, 0s);
         @media (max-width: $md2+px) {
            transform: scale(1);
         }
         // .soc-team__list
         &__list {
            // border: 1px solid rgb(230, 8, 8);
            display: flex;
            margin-bottom: 32px;
         }
         // .soc-team__item
         &__item {
         }
         .icon-Facebook,
         .icon-Twitter,
         .icon-Google,
         .icon-linkedin {
            // font-size: 18px;
            color: #fff;
            &:hover {
               background-color: #c0301c;
            }
         }
         .icon-Facebook {
            font-size: 19px;
            padding: 6px 10px;
         }
         .icon-Twitter {
            font-size: 16px;
            padding: 7.5px 10px;
         }
         .icon-Google {
            font-size: 19px;
            padding: 6px 10px;
         }
         .icon-linkedin {
            font-size: 17px;
            padding: 3px 10px 11px 10px;
         }

         // .soc-team__link
         &__link {
            cursor: pointer;
         }
      }
   }
   &__body {
      text-align: center;
   }
}

.body-slider {
   // .body-slider__name
   &__name {
      color: #555555;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      margin: 20px 0px 15px 0px;
   }
   // .body-slider__post
   &__post {
      color: #555555;
      font-family: "Roboto Slab";
      font-size: 13px;
      font-weight: 400;
   }
}

.slider-team__row .slick-arrow {
   position: absolute;
   z-index: 5;
   padding: 19px 14px;
   top: calc(50% - 50px);
}
.slider-team__row .slick-arrow.slick-prev {
   background: url("../img/svg/fa-left.svg") center no-repeat;
   left: 26px;
   background-color: #c0301c;
}
.slider-team__row .slick-arrow.slick-next {
   background: url("../img/svg/fa-right.svg") center no-repeat;
   right: 0;
   background-color: #c0301c;
}
.slider-team__row .slick-arrow.slick-disabled {
   background-color: initial;
}
.slider-team__row .slick-slider {
}
.bullet {
   margin-top: 20px;
   .slick-dots {
      display: flex;
      justify-content: center;
   }
   .slick-dots li button {
      font-size: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid #c0301c;
      margin: 0px 7px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .slick-dots li.slick-active button {
      &:after {
         content: "";
         width: 7px;
         height: 7px;
         background-color: #c0301c;
         position: absolute;
         border-radius: 50%;
      }
   }
}
//<  >====================================================================================================
