//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
// При использовании Gulpa
@import "fonts";
//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Roboto Slab";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1100;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
   color: #000;
   font-size: 14px;
   &.lock {
      overflow: hidden;
   }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   &.loaded {
   }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
   max-width: $mw + px;
   margin: 0 auto;
   width: 100%;
   // border: 1px solid rgb(21, 235, 21);
   @media (max-width: $md1+px) {
      max-width: 970px;
   }
   @media (max-width: $md2+px) {
      max-width: 750px;
   }
   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
// @import "popup.scss";
@import "header.scss";
// @import "footer.scss";
@import "fullscreen.scss";
@import "icon.scss";
// @import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.service {
   padding: 100px 0px 65px 0px;
   @media (max-width: 700px) {
      padding: 30px 0px 15px 0px;
   }
   // .service__row
   &__row {
      // border: 1px solid red;
      display: flex;
      margin-left: -22px;
      @media (max-width: 700px) {
         display: block;
      }
   }
   // .service__column
   &__column {
      flex: 0 0 33.333%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 22px;
      margin-bottom: 35px;
      cursor: pointer;
      &:hover .icon-fa-font,
      &:hover .icon-fa-code,
      &:hover .icon-fa-support {
         color: #fff;
         @include anim(0.3s,0s);
      }
      &:hover .service__icon {
         background-color: #c0301c;
         @include anim(0.3s,0s);
      }

      // border: 1px solid green;
   }
   // .service__icon
   &__icon {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid #dddddd;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 0px 30px 0px;
      @include anim(0.3s,0s);
      @media (max-width: 700px) {
         margin: 0px 0px 20px 0px;
      }
   }
   // .service__text
   &__text {
   }
}

.icon-fa-font, .icon-fa-code, .icon-fa-support {
   font-size: 40px;
   color: #c0301c;
   @include anim(0.3s,0s);
}

.text-service {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   // .text-service__title
   &__title {
      flex: 1 1 auto;
      margin: 0px 0px 24px 0px;
      color: #555555;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      @media (max-width: 700px) {
         margin: 0px 0px 12px 0px;
      }
   }
   // .text-service__text
   &__text {
      text-align: center;
      color: #555555;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      // padding: 10px 0px;
   }
}

//====================================================================================================

