.blog {
   @include adaptiv-value("padding-bottom", 100, 35, 1);
   @include adaptiv-value("padding-top", 100, 35, 1);

   // .blog__row
   &__row {
      display: flex;
      border-bottom: 1px solid #dddddd;
      @include adaptiv-value("padding-bottom", 38, 17, 1);
      @include adaptiv-value("margin-bottom", 38, 19, 1);
      @media (max-width: $md2+px) {
         border-bottom: none;
      }
      &:last-child {
         @include adaptiv-value("padding-bottom", 0, 0, 1);
         @include adaptiv-value("margin-bottom", 0, 0, 1);
         border-bottom: none;
      }
      @media (max-width: $md2+px) {
         flex-wrap: wrap;
         justify-content: center;
      }
   }
   // .blog__column
   &__column {
      &_image {
         flex: 0 0 420px;
         margin-right: 41px;
         @media (max-width: $md2+px) {
            flex: 0 1 420px;
            margin: 0px 0px 40px 0px;
         }
      }
      &_content {
         flex: 1 1 auto;
         @media (max-width: $md2+px) {
            flex: 0 1 420px;
         }
      }
   }
   // .blog__image
   &__image {
      padding-bottom: 69%;
   }
   // .blog__text
   &__text {
      font-family: RobotoSlab;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      color: #555555;
      margin-bottom: 34px;
   }
   // .blog__link
   &__link {
      font-family: RobotoSlab;
      font-size: 13px;
      line-height: 24px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #555555;
      &:hover {
         color: #c0301c;
      }
   }
}
.heading-blog {
   display: flex;
   margin-bottom: 23px;
   // .heading-blog__content
   &__content {
      &_num {
         flex: 0 0 76px;
         height: 76px;
         border: 2px solid #555555;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin-right: 26px;
      }
      &_head {
         flex: 1 1 auto;
      }
   }
   // .heading-blog__number
   &__number {
      font-family: Montserrat;
      font-size: 24px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #777777;
   }
   // .heading-blog__month
   &__month {
      font-size: 14px;
   }

   // .heading-blog__title
   &__link {
      font-family: Montserrat;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      text-transform: uppercase;
      color: #555555;
      &:hover {
         color: #c0301c;
      }
   }
   // .heading-blog__subtitle
   &__subtitle {
      font-family: RobotoSlab;
      font-size: 13px;
      line-height: 24px;
      font-weight: 400;
      font-style: italic;
      color: #777777;
      a {
         display: inline-block;
         color: #777777;
         &:hover {
            color: #c0301c;
         }
      }
   }
}
