.clients {
   padding: 100px 0 100px 0;
   background-color: #f8f8f8;
}
.clients-slider {
   margin: 0px 0px 20px 0px;
   padding: 0px 0px 53px 0px;
   // .clients-slider__slide
   &__slide {
      text-align: center;   }
   // .clients-slider__list
   &__list {
      display: flex;
      justify-content: space-between;
      max-width: 920px;
      margin: 0px auto 68px auto;
      flex-wrap: wrap;
      @media (max-width: $md2+px) {
         justify-content: center;
      }
   }
   // .clients-slider__item
   &__item {
      align-self: center;
      display: flex;
      @media (max-width: $md2+px) {
         flex: 0 0 50%;
         justify-content: center;
         margin: 0px 0px 20px 0px;
      }
      @media (max-width: 380px) {
         flex: 0 0 100%;
      }
      &:last-child {
         margin-bottom: 0;
      }
   }
   // .clients-slider__link
   &__link {
   }
   // .clients-slider__citate
   &__citate {
      max-width: 763px;
      margin: 0px auto;
      font-family: RobotoSlab;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      font-style: italic;
      color: #555555;
      flex: 1 1 auto;
      p {
         font-size: 20px;
         margin: 10px 0px 0px 0px;
      }
   }
   .swiper-pagination-bullets {
      bottom: 0;
      left: 0;
      width: 100%;
   }
}
