.parallax {
   @include adaptiv-value("padding-bottom", 100, 50, 1);
   @include adaptiv-value("padding-top", 100, 50, 1);
   background-blend-mode: multiply;
   background: url(../img/parallax/parallax_bg.png) no-repeat center/cover fixed;
   background-color: rgba(192, 47, 28, 0.45);
   
   &__text {
      text-align: center;
      width: 100%;
      margin: 0px auto;
   }
   // .parallax__title
   &__title {
      color: #fff;
      line-height: 44px;
      font-weight: 400;
      font-family: "RobotoSlab";
      @include adaptiv-font(30,22,1);
      margin: 0px 0px 50px 0px;
   }
   // .paralax__button
   &__button {
   }
}
.parallax {
   // .parallax__link
   &__link {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
   }
}
